.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 2px;
          perspective: 2px;
}

header {
  max-width: 1800px;
  margin: 0 auto;
}

.header__nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
}

.header__nav a {
  color: #303030;
  letter-spacing: 0.1vw;
  text-decoration: unset;
}

.header__nav li {
  font-family: 'Baloo Da 2', cursive;
  width: 100%;
  text-align: center;
}

.header__nav li:hover {
  text-shadow: 0 0 1px black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__nav--mobile,
.header__nav--mobile_container {
  display: none;
}

.burger-button,
.burger-button--close,
.search-button {
  border-style: none;
  background-color: unset;
  display: none;
}

.mobile-burger-icon {
  display: none;
}

.header__title-container {
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  margin: 1rem 0;
}

.header__title-container h1, .header__title-container h2 {
  font-weight: normal;
}

.header__title-container h1 {
  font-family: 'Berkshire Swash', cursive;
  font-size: 2vw;
  margin: 0;
}

.header__title-container h2 {
  font-family: 'Baloo Da 2', cursive;
  margin: 0;
  letter-spacing: 0.15vw;
  font-size: 1vw;
}

.header__pages,
.header__pages--mobile {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link,
.header__title,
.header__link--mobile {
  text-decoration: none;
}

main,
.parallax,
.header,
.footer {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.section__text,
.width-100 {
  -webkit-transform-style: inherit;
          transform-style: inherit;
}

.width-100 {
  width: 100%;
  background-color: white;
  -webkit-transform-style: flat;
          transform-style: flat;
}

.hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1))), url("../images/acupuncture.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/acupuncture.jpg");
  height: 80vh;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  position: relative;
  -webkit-transform: translateZ(-1px) scale(1.5);
          transform: translateZ(-1px) scale(1.5);
  z-index: -1;
}

.hero__text-container {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  width: 100%;
}

.hero__text-container .hero__title {
  font-size: 6vw;
  font-family: 'Berkshire Swash', cursive;
  margin-top: 5vh;
  margin-bottom: 6vh;
  letter-spacing: 0.3vw;
}

.hero__text-container .hero__welcome,
.hero__text-container .hero__subtext {
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 0.12vw;
}

.hero__text-container .hero__welcome {
  font-size: 1rem;
}

.hero__text-container .hero__subtext {
  font-size: 1vw;
}

.section__text {
  max-width: 1200px;
  margin: 0 auto;
  color: #303030;
  padding: 4rem 5rem;
}

.section__text h3, .section__text h4 {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

.section__text .section__why--heading,
.section__text .section__services--heading,
.section__text .section__testimonials--heading {
  font-size: 3vw;
}

.section__text .section__why--subtext {
  font-size: 1.5vw;
}

.section__text .section__why--p {
  font-family: 'Baloo Da 2', san-serif;
  line-height: 1.5rem;
  font-size: 1.25rem;
}

.grid-col-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  grid-gap: 2rem;
}

.grid-col-2 .section__text-and-image {
  text-align: center;
}

.grid-col-2 .section__treatments--heading {
  margin-top: 1rem;
  font-size: 1.75vw;
  margin-bottom: 5rem;
}

.grid-col-2 ul {
  font-family: 'Baloo Da 2', san-serif;
  text-align: initial;
  line-height: 2rem;
  font-size: 1.25rem;
  padding-left: 1.5rem;
  word-spacing: 0.2rem;
}

.grid-col-2 li {
  padding-bottom: 1.5rem;
}

.grid-col-2 .li-last {
  padding-bottom: 0;
}

.grid-col-2 img {
  width: 50%;
}

.services__container {
  max-width: 100%;
  text-align: center;
  padding: 0 0 4rem 0;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.grid-col {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.grid-col .grid-col__image-container {
  width: 23vw;
  height: 23vw;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 1rem;
}

.grid-col img {
  height: 100%;
}

.grid-col h5 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  margin: 2rem;
}

.grid-col p {
  font-family: 'Baloo Da 2', san-serif;
  word-spacing: 0.2rem;
  line-height: 1.5rem;
  font-size: 1.25rem;
}

.grid-col h5, .grid-col p {
  text-align: center;
}

.grid-col .grid-col__text-content {
  width: 23vw;
  margin: 0 auto;
}

.grid-col .grid-col__text-content p {
  text-align: justify;
}

.grid-col .margin-left {
  margin-left: auto;
}

.grid-col .margin-right {
  margin-right: auto;
}

.all-services-btn {
  background-color: #e08942;
  border-radius: 2rem;
  padding: 1rem 2rem;
  border: 2px solid #e08942;
  color: white;
  text-transform: uppercase;
  font-family: 'Baloo Da 2', san-serif;
  word-spacing: 0.2rem;
  margin-top: 3rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.all-services-btn:hover {
  background-color: white;
  color: #e08942;
  font-weight: bold;
}

.testimonial__container {
  padding: 4rem 0;
  max-width: 1340px;
  text-align: center;
}

.section__testimonials--heading {
  margin-top: 0;
}

.testimonial {
  font-family: 'Baloo Da 2', san-serif;
  font-size: 1.25rem;
  line-height: 1.5rem;
  word-spacing: 0.2rem;
  padding: 1rem 5rem;
  padding-top: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: justify;
}

.testimonial address {
  padding: 1rem 0;
  text-align: center;
}

.splide__list {
  -webkit-transform-style: flat;
          transform-style: flat;
}

.splide__pagination {
  bottom: 0;
}

.splide__pagination__page.is-active {
  background: #303030;
}

.all-testimonials-btn {
  padding: 1rem 2rem;
  margin-top: 2rem;
  border-radius: 2rem;
  font-family: 'Baloo Da 2', san-serif;
  word-spacing: 0.2rem;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 2px solid #303030;
  font-weight: bold;
}

.all-testimonials-btn:hover {
  background-color: #303030;
  color: white;
}

.insurance {
  text-align: center;
  font-family: 'Baloo Da 2', sans-serif;
  word-spacing: 0.2rem;
  border-top: 1px solid lightgray;
}

.insurance h3 {
  font-size: 1.75vw;
}

.insurance p {
  font-size: 1.25rem;
}

.insurance button {
  padding: 1rem 2rem;
  border-radius: 2rem;
  background-color: #303030;
  border: none;
  color: white;
  margin-top: 2rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 2px solid #303030;
  letter-spacing: 0.1rem;
  word-spacing: 0.2rem;
  text-transform: uppercase;
}

.insurance button:hover {
  border: 2px solid #303030;
  background-color: #e08942;
  color: white;
  font-weight: bold;
}

.footer {
  background-color: #303030;
  text-align: center;
  padding: 5rem 0;
}

.footer h2, .footer h3, .footer address {
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-weight: initial;
}

.footer h2 {
  font-family: 'Berkshire Swash', cursive;
  letter-spacing: 0.1rem;
  font-weight: initial;
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.footer h3 {
  font-size: 1rem;
}

.footer ul {
  list-style: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
  width: 25rem;
  margin: 0 auto;
  text-transform: uppercase;
}

.footer ul a {
  color: white;
  text-decoration: none;
  font-family: 'Baloo Da 2', sans-serif;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer ul a:hover {
  color: #e08942;
}

.footer address {
  line-height: 1.5rem;
  font-family: 'Baloo Da 2', sans-serif;
  padding-top: 2rem;
}

.footer .footer-yelp {
  color: red;
  padding: 0.5rem;
  margin-top: 1rem;
}

.banner__image {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1))), url("../images/chinese-text.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/chinese-text.jpg");
  height: 30vh;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  position: relative;
  -webkit-transform: translateZ(-1px) scale(1.5);
          transform: translateZ(-1px) scale(1.5);
  z-index: -1;
  top: -10rem;
}

.banner__heading {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 3vw;
  letter-spacing: 0.15rem;
  font-weight: bold;
}

.section__col {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  grid-gap: 1rem;
  border-bottom: 1px solid lightgray;
  padding: 1rem 0;
}

.section__col .flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__col .flex-row img {
  width: 6rem;
  margin-top: 4rem;
}

.section__col .flex-row .small-margin-top {
  margin-top: 0rem;
  padding-bottom: 1rem;
}

.section__col .flex-row .small-width {
  width: 3rem;
}

.section__col .service__title {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.section__col p, .section__col ul {
  font-family: 'Baloo Da 2', san-serif;
  word-spacing: 0.15rem;
  line-height: 1.75rem;
}

.section__last {
  border-bottom: none;
}

@media screen and (max-width: 912px) {
  .section__text .section__why--heading {
    font-size: 6vw;
  }
  .section__text .section__why--subtext {
    font-size: 3vw;
  }
  .grid-col-2 {
    display: block;
    padding-top: 0;
  }
  .grid-col-2 img {
    width: 25%;
  }
  .grid-col-2 .section__text-and-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .grid-col-2 .section__treatments--heading {
    font-size: 3vw;
    margin-bottom: 0;
  }
  .services__container {
    max-width: calc(100% - 20vw);
    text-align: center;
  }
  .grid-col {
    grid-gap: 1rem;
  }
  .grid-col .grid-col__image-container {
    width: 25vw;
    height: 25vw;
  }
  .grid-col .grid-col__text-content {
    width: 25vw;
  }
  .grid-col .grid-col__text-content P {
    text-align: center;
  }
  .insurance h3 {
    font-size: 3vw;
  }
}

@media screen and (max-width: 480px) {
  .header__nav {
    -ms-grid-columns: auto 1fr auto;
        grid-template-columns: auto 1fr auto;
  }
  .header__pages {
    display: none;
  }
  .burger-button,
  .search-button {
    display: block;
    font-size: 5.5vw;
    padding: 1rem;
  }
  .burger-button--close {
    font-size: 5.5vw;
    padding: 1rem;
  }
  .mobile-burger-icon {
    display: block;
  }
  .mobile-burger-icon,
  .mobile-close-icon {
    width: 20.36px;
  }
  .header__title-container h1 {
    font-size: 6vw;
    margin-top: 0;
  }
  .header__title-container h2 {
    font-size: 3.5vw;
    margin-bottom: 0;
  }
  .header__nav--mobile_container {
    display: none;
  }
  .header__nav--mobile_container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4;
    position: absolute;
  }
  .header__pages--mobile {
    display: block;
    font-family: 'Baloo Da 2', sans-serif;
    height: 35%;
    position: absolute;
    background-color: white;
    z-index: 5;
    margin-top: 0;
    width: 100%;
    padding-top: 5vh;
  }
  .header__pages--mobile li {
    padding-left: 10vw;
    padding-bottom: 2rem;
  }
  .slide-out {
    -webkit-animation: slide-out 0.5s forwards;
            animation: slide-out 0.5s forwards;
  }
  @-webkit-keyframes slide-out {
    0% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
    100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
    }
  }
  @keyframes slide-out {
    0% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
    100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
    }
  }
  .slide-in {
    -webkit-animation: slide-in 0.5s forwards;
            animation: slide-in 0.5s forwards;
  }
  @-webkit-keyframes slide-in {
    0% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
    }
    100% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
  }
  @keyframes slide-in {
    0% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
    }
    100% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
  }
  .header__link--mobile {
    color: #303030;
  }
  .hero__text-container .hero__title {
    font-size: 15vw;
    margin: 3vh 0;
  }
  .hero__text-container .hero__welcome {
    font-size: 1.25rem;
  }
  .hero__text-container .hero__subtext {
    font-size: 7vw;
  }
  .section__text {
    padding: 0 1rem;
  }
  .section__text .section__why--subtext {
    font-size: 1rem;
  }
  .grid-col-2 .section__treatments--heading {
    font-size: 1rem;
  }
  .section__why--p {
    text-align: justify;
  }
  .section__text {
    padding: 1rem;
  }
  .section__text .section__services--heading,
  .section__text .section__testimonials--heading {
    font-size: 6vw;
  }
  .services__container {
    max-width: calc(100% - 8vw);
  }
  .grid-col {
    display: block;
  }
  .grid-col .grid-col__image-container {
    width: 90vw;
    height: 90vw;
  }
  .grid-col .grid-col__text-content {
    width: 90vw;
    padding-bottom: 1rem;
  }
  .grid-col .grid-col__text-content p {
    text-align: center;
  }
  .all-services-btn {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .section__testimonials--heading {
    margin-top: 1rem;
  }
  .testimonial {
    padding: 0;
    -ms-flex-item-align: unset;
        -ms-grid-row-align: unset;
        align-self: unset;
    text-align: center;
  }
  .splide__arrow {
    top: unset;
    bottom: 0%;
  }
  .all-testimonials-btn {
    margin-bottom: 2rem;
  }
  .insurance h3 {
    font-size: 6vw;
  }
  .insurance p {
    font-size: 1.05rem;
  }
  .insurance button {
    margin-bottom: 2rem;
  }
  .footer ul {
    width: 100%;
    display: block;
    line-height: 3rem;
  }
  .banner__heading {
    font-size: 10vw;
  }
  .section__col {
    display: block;
  }
  .section__col .flex-row .service__image {
    margin-top: 0;
  }
}
/*# sourceMappingURL=style.css.map */